{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CNN Mossbauer Prediction Tool</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>

<body>
    <div class="header">
        <h1><span>Mossbauer Prediction Tool</span> </h1>
    </div>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input class="custom-file-upload" type="file" accept="file" name="file" id="file" />
        <button class="compress_file" type="submit" id="submit">
            Predict Mossbauer
        </button>
        <div class="status">
            <p id="message">{{ message }}</p>
        </div>
    </form>

    <div class="wrapper">

        <div class="info_container">
            <ul>
                <li>Prediction: <span class="name">{{ prediction }}</span></li>
            </ul>
        </div>
    </div>

    <div class="header">
        <h4><span>Tensored </span>Django</h4>
    </div>

    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>